# Image files
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.tiff
*.bmp

# root files
*.root

# root files directory
ntuple/*

# outputs/ directory
outputs/*
out/*

# old/ directory
old/*

# Temporary files
*.log
*.tmp
*.aux
*.out
*.toc
*.pdf
*.synctex.gz

# Python cache files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd